*{
	padding: 0;
	margin: 0;
	font-family: 'Imprima';
}

body {
    background-color: #D7F3FF;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #99caf8;
  }

.text{
    font-family: 'Imprima';
    font-size: 35px;
	line-height: 95px;
	padding-right: 10px;
    color: black;
}


li {
    float: left;
}

.lang {
	float: right;
}
  

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 0px 16px;
    line-height: 104px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #FCD6E6;
}

.contact{
	text-align: center;
	margin: 15px;
}

.map {
	margin: 15px;
}

/*LOGO*/

#img {
    line-height: 0px;
}

#img:hover:not(.active) {
    background-color: #99caf8;
}

#img-mail {
    padding-top: 28px;
    line-height: 70.5px;
}

/*CONTENT*/

.category {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	max-width: 1200px;
	margin: auto;
}

.cat {
	width: 220px;
	margin: 20px;
	background: #FCD6E6;
    font-size: 22px;
}

.cat a {
	text-decoration: none;
    color: black;
    line-height: 50px;
    padding-left: 10px;
}

.categ {
    background-color: #FFF2FC;
}

.categ a {
    line-height: 50px;
    padding-left: 10px;
}